.field{
    border-radius:5%;
    background-color:hsl(48deg 100% 93% / 0%);
    border:red ridge;
    

}

legend{
    background-color:palegreen;
    margin-left:1rem;
}
.submit{
    margin-left:9.28rem;
    margin-bottom:2rem;
}
form{
    width:25rem;
    height: 25rem;
}
